{% extends 'home_base.html'%}
{% load widget_tweaks %}
{% load static %}

{%block title%}
  Osiris | Home
{%endblock%}

{%block page%}
Home
{%endblock%}

{%block dropdown%}
<li><a style="background-color: #94b097;" class="dropdown-item active" href="#">Home</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="#">Perfil</a></li>
<li><a class="dropdown-item" href="#">Conbustível</a></li>
<li><a class="dropdown-item" href="#">Dividir Comanda</a></li>
{%endblock%}

{%block content%}
<main class="dark-background">
  <div class="container">
    
    <div class="card">
      <div class="card-header">
        
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="card-header">Saldo</div>
            
              <div class="saldo row">
                <div id="show_value" class="col-md-7">
                  R$ 1.235.023,45
                </div>
                <div id="hide_value" class="col-md-7" style="display: none;" >
                  R$    --
                </div>
                
                <div id="hide" class="container col-md-1" onclick="show_money()" style="display: none;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </div>
                <div  id="show" class="container col-md-1" onclick="show_money()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
                </div>
              </div>

          </div>
        </div>
      
      </div>
      <div class="card-body">

        <div class="card text-center" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title">Special title treatment</h5>
          </div>
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>


        <h5 class="card-title"> Lançamentos </h5>

        <p class="card-text"> </p>

        <div class="dropright">
          <button class="rounded-circle btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          +
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item active" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Conbustível</a></li>
            <li><a class="dropdown-item" href="#">Dividir Comanda</a></li>
          </ul>
          </div>

      </div>
    </div>
  
  </div>
</main>


{%endblock%}