/* body */
.body{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    align-items: center; 
    justify-content: center; 
    background: linear-gradient(rgb(254, 43, 143), rgb(255, 110, 96));
}

/* form */
input{
    
    border-top: none; 
    border-right: none; 
    border-bottom: 2px solid rgb(21, 25, 28); 
    border-left: none; 
    border-image: initial; 
    border-radius: 0px; 
    color: rgb(21, 25, 28); 
    height: 24px; 
    margin-bottom: 20px;
}
input::placeholder{
    color: #9d9fa2;
    font-weight: bold;
    opacity: 0.5;
}

*:focus {
    outline: none;
}

.form-btn{
    display: inline-block;
    width: 150px;
    background: linear-gradient(rgb(254, 43, 143), rgb(255, 110, 96));
    box-shadow: rgb(255 110 96 / 50%) 0px 2px 5px 0px;
    border-color: transparent;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    height: 40px;
    position: relative;
}
.form-btn:hover{
    width: 152px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.sign_up{
  font-size: 12px; 
  text-decoration: none;
  color:#fe2f8c;
  margin-bottom:1rem;
}
.sign_up:hover{
  color:#fe2f8c;
  font-weight: bold;
}


/* find in */
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* senha */
.bt1int {
  opacity: 0;
  transition: opacity 2s;
}

.card_password{
  transition: opacity 2s;
  opacity: 1;
}
.card_ps{
  color: #f9f9f9;
  font-weight: bold;
}
.password0{
  color: #939393;
  font-size:1rem;
}
.password0:hover{
  font-size:1.1rem;
  color: rgb(254, 43, 143);
}
.password1{
  color: #208754;
  font-size:1.1rem;
}
