{% extends 'users_base.html'%}
{% load widget_tweaks %}
{% load static %}
{% load bootstrap_icons %}

{% block title%}
    sign_in | osiris
{% endblock %}

{% block content %}
<div id="card_body" class="card text-center fadeIn first row 1" style="width: 40%; padding: 20px 10px; border-radius: 10px;position: static">
    <div class="card-body" >
        {% include "_alertas.html" %}

        <form action="{% url 'sign_in'%}" method="POST" >
            
            <div class="fadeIn third"  style="padding: 20px;">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{% bs_icon 'person'  size='1.5em' %}</span>
                    </div>
                    {%render_field   sign_in.username  type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"%}
                </div>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{% bs_icon 'unlock-fill'  size='1.5em' %}</span>
                    </div>
                    {%render_field   sign_in.password  type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"%}
                  </div>
            </div >
            
            <div>
                <button id="fadeInfourth" Class="form-btn" type="submit">ACESSAR</button>
            </div>
            
            <a  class="sign_up" href="{% url 'sign_up'%}">CADASTRAR-SE</a>
            
        </div>
        
    </form>
</div>
</div>
{% endblock%}

{%block leg%}
    DESCOMPLICANDO SUA VIDA FINANCEIRA
{%endblock%}

<script
 src='{% static "home/main.js" %}' language="JavaScript" type="text/javascript"  >
</script>