{% extends 'users_base.html'%}
{% load widget_tweaks %}
{% load static %}


{% block title%}
    sign_up | osiris
{% endblock %}

{% block content %}
<div id="card_body" class="card text-center fadeIn first row 1" style="width: 40%; padding: 20px 10px; border-radius: 10px;margin-top: 15rem;">
    <div class="card-body" >
            <svg style="float:rigth;margin:0auto;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard2-check-fill" viewBox="0 0 16 16">
                <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5Zm6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
            </svg>
            <div style="color:rgb(254, 43, 143);font-weight: bold;">CADASTRO</div>
            <form action="{% url 'sign_up'%}" method="POST" >
                
                <div style="padding: 20px;">
                
                    {% csrf_token %}
                    
                    <div style="margin-bottom: 1rem;">
                        {%render_field   sign_up.first_name  placeholder="nome" name="first_name" onclick="clickOffPss()"%}
                    </div>
                    
                    <div style="margin-bottom: 1rem;">
                        {%render_field sign_up.last_name placeholder="sobrenome" name="last_name" onclick="clickOffPss()"%}
                    </div>
                    
                    <div style="margin-bottom: 1rem;">
                        {%render_field sign_up.username placeholder="username" name="username" onclick="clickOffPss()"%}
                    </div>
                    
                    <div style="margin-bottom: 1rem;">
                        {%render_field sign_up.email placeholder="E-MAIL" name="email" onclick="clickOffPss()"%}
                    </div>

                    <div style="margin-bottom: 1rem;">
                        {%render_field sign_up.password placeholder="senha" id="password" name="password" onclick="clickPss()" onkeyup="strongPassword()"%}
                    </div>
                    <div style="margin-bottom: 1rem;">
                        {%render_field sign_up.repeatPassWord placeholder="repetir senha" name="repeatPassWord"  onclick="clickOffPss()"%}
                    </div>
                </div >
                <!-- mostrar nivel de forca da senha -->
                <div id="about_password" class="card bt1int" style="margin-bottom: 1rem; display:none;">
                    <div class="card-header text-center card_ps" style="background-color:rgb(254, 43, 143) ;">
                        SOBRE A SENHA
                    </div>
                    <div class="card-body"style="background-color: #f9f9f9 ;">

                        <div class="password0" id="letraMaiu">Possuir uma ou mais letras maiúsculas...</div>
                        
                        <div class="password0" id="caractere">Possuir um ou mais caractere especial...</div>
                        
                        <div class="password0" id="numero">Possuir um ou mais números...</div>
                        
                        <div class="password0" id="letra">Possuir uma ou mais letras...</div>

                        <div class="password0" id="maior8">Maior que 8 caracteres...</div>


                    
                    </div>
                    
                    <div class="card-footer text-muted" id="progressBar" style="background-color:rgb(255, 110, 96) ;"></div>
                
                </div>
                {% include "_alertas.html" %}
                <div>
                    <button id="fadeIn fourth" Class="form-btn" type="submit">PRÓXIMO</button>
                </div>

                <a  class="sign_up" href="{% url 'sign_in'%}">VOLTAR</a>
            </form>
        </div>
    </div>
{% endblock%}

{%block leg%}
    FALTA POUCO PRA SUA VIDA FINANCEIRA FICAR MELHOR!
{%endblock%}